.choice {
    margin-left: 10px;
    &_item {
        display: flex;
        align-items: center;
        width:300px;
        flex-direction: row-reverse;
         justify-content:flex-end;
        h2 {
            font-size: 15px;
        }
        input {
            margin-right: 10px;
        }
       
    }
}